.ramen::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 1200%;
  height: 500px;
  background: #F7CE66;
  opacity: 0.8;
  border-radius: 50%;
  transform: translateX(-100%);
  animation: waveTickerEffect 8s linear infinite;
  z-index: -1;
}

@keyframes waveTickerEffect {
  0% {
    transform: translateX(-100%) translateY(60%) scaleY(1);
  }
  50% {
    transform: translateX(0%) translateY(60%) scaleY(1.2);
  }
  100% {
    transform: translateX(100%) translateY(60%) scaleY(1);
  }
}

.ramen:hover::after {
  animation-duration: 5s;
}
